<div class="m-3">
  <h1>Sorting Algorithms</h1>
  <section>
    <div class="h2 d-flex">
      <span class="me-2">Array Size:</span>
      <input
        type="number"
        class="form-control-sm fs-5"
        [(ngModel)]="arraySize"
        name="inputArraySize"
        #inputArraySize="ngModel"
        min="0"
        max="100"
      />
    </div>
    <div
      [hidden]="inputArraySize.valid || inputArraySize.pristine"
      class="alert alert-danger"
    >
      Array size must be between 0 and 100, inclusive.
    </div>
  </section>
  <section *ngIf="inputArraySize.valid || inputArraySize.pristine" class="mb-3">
    <div class="d-flex">
      <h2>Input Array:</h2>
      <button
        type="button"
        class="btn btn-primary ms-3"
        (click)="generateArray()"
      >
        {{ inputArray.length ? "Regenerate" : "Generate" }}
      </button>
    </div>
    <p *ngIf="inputArray.length">[{{ inputArray.join(", ") }}]</p>

    <div *ngIf="inputArray.length">
      <select
        class="form-control-sm fs-5 mb-3"
        [(ngModel)]="selector"
        (ngModelChange)="setRoute()"
      >
        <option disabled default hidden value="" [selected]="selector === ''">
          Select Sorting Algorithm
        </option>
        <option value="bubble-sort" [selected]="selector === 'bubble-sort'">
          Bubble Sort
        </option>
        <option value="bogo-sort" [selected]="selector === 'bogo-sort'" [disabled]="arraySize > 5">
          Bogo Sort {{ arraySize > 5 ? "(Array Size \<= 5)" : ""}}
        </option>
        <option
          value="insertion-sort"
          [selected]="selector === 'insertion-sort'"
        >
          Insertion Sort
        </option>
        <option
          value="selection-sort"
          [selected]="selector === 'selection-sort'"
        >
          Selection Sort
        </option>
      </select>

      <router-outlet (activate)="selectedAlgorithm = $event"></router-outlet>

      <div *ngIf="selectedAlgorithm">
        <button
          *ngIf="!selectedAlgorithm.startedSorting"
          type="button"
          class="btn btn-primary"
          (click)="selectedAlgorithm.sort(inputArray)"
        >
          Sort
        </button>

        <div *ngIf="selectedAlgorithm.doneSorting">
          <h3>Sorted ({{ selectedAlgorithm.getTotalTimeMs() }} ms):</h3>
          <p>[{{ selectedAlgorithm.solution.join(", ") }}]</p>

          <button
            class="btn btn-primary"
            (click)="selectedAlgorithm.toggleStepDisplay()"
          >
            {{ selectedAlgorithm.showSteps ? "Hide" : "Show" }} Steps
          </button>
          <div *ngIf="selectedAlgorithm.showSteps">
            <div
              class="mt-3"
              *ngFor="let step of selectedAlgorithm.steps"
              [innerHtml]="step.snapshotToString()"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
