<div class="messenger border border-dark rounded m-1">
  <section
    class="messages pb-3 d-flex flex-column-reverse"
    #scroll
    [scrollTop]="scroll.scrollHeight"
  >
    <div
      *ngFor="let messageData of (svc.channel$ | async)"
      class="d-flex"
      [ngClass]="messageData.sender === peerName ? 'justify-content-end' : ''"
    >
      <div
        class="message w-50 m-3 mb-0 p-2 rounded"
        [ngClass]="messageData.sender === peerName ? 'sent' : ''"
      >
        <div class="message-time">
          {{ messageData.timestamp }}
        </div>
        <div>{{ messageData.content }}</div>
      </div>
    </div>
  </section>
  <section class="type-message d-flex p-3 border-top">
    <input
      type="text"
      [(ngModel)]="messageContent"
      class="form-control me-2"
      (keyup.enter)="send()"
      autocomplete="off"
    />
    <button
      type="button"
      class="btn btn-primary"
      (click)="send()"
      [disabled]="!messageContent"
    >
      Send
    </button>
  </section>
</div>
